<main class="p-6 animate-fade-in">
  <section class="grid place-content-center lg:grid-cols-2 gap-4 lg:py-32">
    <article class="flex flex-col max-w-xl mx-auto gap-4">
      <h1 class="text-gray-950 dark:text-white font-bold text-4xl sm:text-5xl lg:text-7xl leading-tight">
        Compra <span class="text-gradient">tecnología</span> y accesorios
      </h1>
      <p class="text-lg md:text-xl text-gray-500 dark:text-gray-400">
        Compra laptops, computadoras de escritorio, monitores, tabletas, equipos para PC gaming, discos duros y almacenamiento, accesorios y más.
      </p>
      <a
        role="button"
        [routerLink]="['products']"
        class="btn-secondary w-fit"
      >
        Ver más
      </a>
    </article>

    @defer {
    <article id="offers-carousel" class="mt-6 relative" data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative h-56 sm:h-96 overflow-hidden">
        @for (productOffer of productsOffers; track $index) { @if ($index == 0)
        {
        <div class="sm:mt-24 duration-700 ease-in-out" data-carousel-item>
          <app-product-offer [product]="productOffer" />
        </div>
        }@else {
        <div
          class="sm:mt-24 hidden duration-700 ease-in-out"
          data-carousel-item
        >
          <app-product-offer [product]="productOffer" />
        </div>
        } }
      </div>
      <!-- Slider controls -->
      <button
        type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full sm:px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-500 group-hover:bg-gray-400 group-focus:ring-4 group-focus:ring-gray-300 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"
            />
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button
        type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full sm:px-4 cursor-pointer group focus:outline-none"
        data-carousel-next
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-500 group-hover:bg-gray-400 group-focus:ring-4 group-focus:ring-gray-300 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </article>
    } @placeholder (minimum 200ms) {
    <div class="flex justify-center items-center">
      <div
        role="status"
        class="flex-1 flex items-center justify-center h-56 max-w-sm bg-gray-300 rounded-lg animate-pulse w-full"
      >
        <svg
          class="w-10 h-10 text-gray-200"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M0 96C0 60.7 28.7 32 64 32l384 0c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6l96 0 32 0 208 0c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"
          />
        </svg>
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    }
  </section>
  <section class="mt-4 max-w-screen-lg mx-auto">
    <h2 class="font-bold text-2xl sm:text-3xl text-center lg:text-4xl text-gray-900 dark:text-white">
      Elige tu <span class="text-gradient">producto favorito</span>
    </h2>
    <article
      class="mt-8 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 justify-center"
    >
      @defer { @for (product of products; track $index) {
      <app-home-product [product]="product" />
      } } @placeholder (minimum 200ms) {
      <app-home-product-loading />
      <app-home-product-loading />
      <app-home-product-loading />
      <app-home-product-loading />
      }
    </article>
  </section>
</main>
